<div class="row container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-11"><h4>Inspiring quote for today: <span class="quote"><%= @quote %></span></h4></div>
</div>
<div class="row container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-11"><h2>New Question</h2></div>
</div>
<div class="row container-fluid" id="new_Q">
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <%= render partial: 'form' ,  locals: {url: questions_path, method: :post}%>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row container-fluid" id="questions_box">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2>Existing Questions</h2>
  </div>
<% @questions.each do |question|%>
</div>

<div class="row container-fluid" id="id_<%=question.id%>">
  <div class="col-md-1"></div>
  <div class="col-md-9 blk-bord">
    <div class="col-md-1 vote_count">
      <%= button_to '▲', upvote_question_path(question)%>
      <span><%= question.vote_count %></span>
      <%= button_to "▼", downvote_question_path(question)%>
    </div>
    <div class="col-md-6"><%= link_to question.title, question_path(question)%></div>
    <div class="col-md-3"><%= link_to 'Delete Question', question_path(question), method: :delete%>
    <%= link_to 'Edit Question', edit_question_path(question), method: :get%></div>
  </div>
  <div class="col-md-2">
    
  </div>
  <% end %>
</div>
<script id="new-question-form" type="text/x-handlebars-template">
<div class="row container-fluid" id="id_{{id}}">
 <div class="col-md-1"></div>
  <div class="col-md-9">
    <div class="col-md-2 vote_count">
      <form class="button_to" method="post" action="/questions/{{id}}/upvote"><input type="submit" value="+"></form>
      <span>{{vote_count}}</span>
      <form class="button_to" method="post" action="/questions/{{id}}/downvote"><input type="submit" value="-"></form>
    </div>
    <div class="col-md-8"><a href="/questions/{{id}}">{{title}}</a>
  </div>
  
</div>
<div class="col-md-2">
  put  a box of links here
</div>
</div>
</script>