<div class=" row container-fluid">
  <div class="col-md-1"> 
  </div>

  <div class="col-md-9">

    <div class="md-col-1"></div>
    <div class="md-col-4">
      <h2>Question: <span><h4><%= @question.title %></h4></span></h2>
    </div>
    <div class="md-col-3">
      <%= link_to 'Delete Question', question_path(@question), method: :delete%>
      <%= link_to 'Edit Question', edit_question_path(@question), method: :get%>
    </div>
     </div>
  <div class="md-col-2"></div>
 
</div>



<div class="row container-fluid">
  <div class="col-md-1">
    
  </div>
  <div class="col-md-6 blk-bord">
    <h3><%= @question.content %></h3>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row container-fluid">
  <div class="col-md-1"> </div>
  <div class="col-md-6 new_A blk-bord"><h2>Create a new answer:</h2>
  <%= render partial: 'answers/form' ,  locals: {url: question_answers_path(@question), method: :post}%></div>
  <div class="col-md-3"></div>
</div>

<div id="answers_box"> 
  <% @question.answers.each do |answer| %>
<div class="row container-fluid " id = "id_<%=answer.id%>">
  <div class='col-md-1'> </div>
  
  <div class="col-md-9">
  <div class="col-md-1 vote_count ">
  <%= button_to '▲', upvote_question_answer_path(@question, answer) %>
  <span><%= answer.vote_count %></span>
  <%= button_to "▼", downvote_question_answer_path(@question, answer) %></div>

  <div class="col-md-6 ">Answer - <%= answer.title %>:
  <%= answer.content%>
  </div>

  <div class="col-md-3"> 
  <%= link_to 'Delete Answer', question_answer_path(answer.question, answer), method: :delete%>
  <%= link_to 'Edit Answer', edit_question_answer_path(@question, answer), method: :get%>
  </div>
  </div>
  <div class="col-md-2"></div>
  </div>
  <% end %>
  </div>


<script type="text/x-handlebars" id="new-answer">

  <div class="row container-fluid" id = "id_{{id}}">

  <div class="col-md-2 vote_count"> 
  <form class="button_to" method="post" action="/questions/{{question_id}}/answers/{{id}}/upvote"><input type="submit" value="▲"></form>
  <span>{{vote_count}}</span>
  <form class="button_to" method="post" action="/questions/{{question_id}}/answers/{{id}}/downvote"><input type="submit" value="▼"></form>
  </div>

  <div class="col-md-6" >Answer - {{title}}: {{content}}
  </div>

  <div class="col-md-4"> 
  <a data-method="delete" href="/questions/{{question_id}}/answers/{{id}}">Delete Answer</a>
  <a data-method="get" href="/questions/{{question_id}}/answers/{{id}}/edit">Edit Answer</a>
  </div>
  </div>
</script>