<div class=" row container-fluid">
  <div class="col-md-2">
    count & up/down vote
  </div>
  <div class="col-md-6">
    <h2>Question: <span><h4><%= @question.title %></h4></span></h2>
  </div>
  <div class="col-md-2">
    <%= link_to 'Delete Question', question_path(@question), method: :delete%>
  </div>
  <div class="col-md-2">
    <%= link_to 'Edit Question', edit_question_path(@question)%>
  </div>
</div>
<div class="row container-fluid">
  <div class="col-md-2">
    something
  </div>
  <div class="col-md-6">
    <h3><%= @question.content %></h3>
  </div>
  <div class="col-md-4">
    some links
  </div>
</div>
<div class="row container-fluid">
  <div class="col-md-2"> links</div>
  <div class="col-md-6 new_A"><h2>Create a new answer:</h2>
  <%= render partial: 'answers/form' ,  locals: {url: question_answers_path(@question), method: :post}%></div>
  <div class="col-md-2">link</div>
</div>

<div id="answers_box"> 
  <% @question.answers.each do |answer| %>
<div class="row container-fluid " id = "id_<%=answer.id%>">

  <div class="col-md-2 vote_count"><span>Votes: <%= answer.vote_count %></span>
  <%= button_to 'upvote', upvote_question_answer_path(@question, answer) %>
  <%= button_to 'downvote', downvote_question_answer_path(@question, answer) %></div>

  <div class="col-md-6">Answer - <%= answer.title %>:
  <%= answer.content%>
  </div>

  <div class="col-md-4"> 
  <%= link_to 'Delete Answer', question_answer_path(answer.question, answer), method: :delete%>
  <%= link_to 'Edit Answer', edit_question_answer_path(@question, answer), method: :get%>
  </div>
  </div>
  <% end %>
  </div>


<script type="text/x-handlebars" id="new-answer">

  <div class="row container-fluid" id = "id_{{id}}">

  <div class="col-md-2 vote_count"> <span>Votes: {{vote_count}}</span>
  <form class="button_to" method="post" action="/questions/{{question_id}}/answers/{{id}}/upvote"><input type="submit" value="upvote"></form>
  <form class="button_to" method="post" action="/questions/{{question_id}}/answers/{{id}}/downvote"><input type="submit" value="downvote"></form>
  </div>

  <div class="col-md-6" >Answer - {{title}}: {{content}}
  </div>

  <div class="col-md-4"> 
  <a data-method="delete" href="/questions/{{question_id}}/answers/{{id}}">Delete Answer</a>
  <a data-method="get" href="/questions/{{question_id}}/answers/{{id}}/edit">Edit Answer</a>
  </div>
  </div>
</script>