<!DOCTYPE html>
<html>
<head>
  <title>Stackoverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row container-fluid header">
  <div class="col-md-3"><span id="logo">Exchange</span></div>
  <div class="col-md-5"></div>
  <div class="col-md-1">sign up</div>
  <div class="col-md-1">log in </div>
  <div class="col-md-1">tour</div>
  <div class="col-md-1">careers</div>
</div>

<div class="row container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-9"><h1>Welcome to a StackOverflow Clone</h1></div>
  <div class="col-md-2 pad-20"><%=link_to "Home", root_path %></div>
</div>
  
  <%= yield %>

</body>
</html>
